[Unit]
Description=frp client


[Service]
Type=simple
ExecStart=/usr/local/frp/frpc -c /usr/local/frpc.ini
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target

