[Unit]
Description=frp service


[Service]
Type=forking
ExecStart=/root/frp_0.27.0_linux_amd64/frps -c /root/frp_0.27.0_linux_amd64/frps.ini
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target

