[Unit]
Description=frp service


[Service]
ype=simple
ExecStart=/usr/local/frp/frps -c /usr/local/frp/frps.ini
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target

